<div class="container">
    <div class="row">
        {{#each result}}
        <a href="#/materials/{{id}}">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{img}}" alt="">
                    <div class="caption">
                        <h2 class="text-center" style="font-family: 'Arial Bold'">{{title}}</h2>
                        <p>{{description}}</p>
                        <br>
                        <br>
                        <p style="font-style: italic; font-size: 0.8em">Created on: {{createdOn}}</p>
                        <p class="text-center">
                            <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                        </p>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</div>