<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Registration</h4>
                <input type="text" id="regUserName" class="form-control input-sm chat-input" placeholder="username" />
                </br>
                <input type="password" id="regUserPassword" class="form-control input-sm chat-input" placeholder="password" />
                </br>
                <div class="wrapper">
            <span class="group-btn">
                <button href="#" id="registerSubmit" class="btn btn-primary btn-md">Submit<i class="fa fa-sign-in"></i></button>
            </span>
                </div>
            </div>

        </div>
    </div>
</div>